
.logo {
  background-image: url(./components/reactDark.png);
  animation: App-logo-spin infinite 9s linear;
  background-position: center;
  background-size: contain;
  margin: 20px auto;
  height: 160px;
  width: 160px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  background-color: rgb(28, 28, 28);
}

h3{
  position: relative;
  bottom: 40px;
  font-size: 50px;
  color: rgb(88, 224, 254);
  letter-spacing: 2px;
  font-weight: 500;
}

.container-main{
  width: 380px;
  margin: 0 auto;
  background-color: rgb(40, 40, 40);
  border: 1px solid #61dafb;
  border-radius: 9px;
  position: relative;
  bottom: 65px;
  box-shadow: 3px 9px 30px #151515;
  padding-bottom: 1px;
}

.form-group, label, input{
  margin: 6px;
  background-color: rgb(40, 40, 40);
  border: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

h1{
  background-color: rgb(40, 40, 40);
  color: aliceblue;
  position: relative;
  top: -3px;
  letter-spacing: 2px;
}

input{
  border: 1px solid gray;
  border-radius: 3px;
  background-color: rgb(204, 232, 231);
  margin-right: 10px;
}

label{
  font-size: 20px;
  font-weight: 600;
  color: #d0d0d0;
  margin-left: 15px;
}

.btn{
  width: 180px;
  height: 35px;
  color: rgb(41, 41, 41);
  font-size: 20px;
  background-color: rgb(214, 242, 255);
  margin: 20px auto;
  border: none;
  box-shadow: 6px 9px 25px #0e0e0e94;
  text-align: center;
  padding-left: 10%;
  font-weight: 600;
}
.btn:hover{
  width: 180px;
  height: 35px;
  color: rgb(36, 36, 36);
  font-size: 20px;
  background-color: #61dafb;
  margin: 20px auto;
  border: none;
  text-align: center;
  padding-left: 10%;
  font-weight: 600;
}

p{ position: relative; 
  top: -10px;
  background-color: rgb(40, 40, 40);
  color: red; 
}